:root {
	--dark-blue: #0A3871;
	--grey: #495057;
	--grey-shadow: rgba(73, 80, 87, 0.3);
	--grey-dark: #343A40;
	--light-blue: #F3F5FC;
	--white: #FFFFFF;
	--standar-font: 'Inter', sans-serif;
}

html {
	font-size: 62.5%;
	box-sizing: border-box;
}

body {
	font-size: 160%;
	font-family: var(--standar-font);
	margin: 0;
	background-color: var(--light-blue);
}

*, *::before, *::after {
	box-sizing: inherit;
}

.container {
	width: 100%;
	height: 100vh;
	padding: 1.6rem;
	gap: 3rem;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 6fr 4fr;
}

@media (min-width: 900px) {
	.container {
		grid-template-columns: 3fr 1fr;
		grid-template-rows: 1fr;
	}
}

.form {
	display: flex;
	flex-direction: column;
}

.form__message {
	width: 100%;
	padding: 2rem;
	border: none;
	border-radius: 2.4rem;
	color: var(--dark-blue);
	font-size: 3.2rem;
	flex-grow: 1;
	background-color: var(--light-blue);
	resize: none;
}

.form__message:focus {
	border: 0.1rem solid var(--dark-blue);
}

.form__alert {
	margin:1.6rem 0;
	font-size: 1.2rem;
	color: gray
}

.form__buttons {
	display: flex;
	flex-wrap: wrap;
	gap: 2.4rem;
}

.button {
	flex-basis: 20rem;
	flex-grow: 1;
}

.button {
	border-radius: 2.4rem;
	border: none;
	padding: 2.4rem;
	transition-property: opacity;
	transition-duration: 0.5s;
	transition-timing-function: ease-in;
}

.button:hover {
	opacity: 0.7;
}

.button--filled {
	background-color: var(--dark-blue);
	color: var(--white);
}

.button--transparent {
	background-color: transparent;
	color: var(--dark-blue);
	border: 0.1rem solid var(--dark-blue);
	transition-property: background-color, color;
	transition-duration: 0.5s;
	transition-timing-function: ease-in;
}

.button--transparent:hover {
	background-color: var(--dark-blue);
	color: var(--white);
	opacity: 1;
}

.response {
	padding: 2rem;
	display: flex;
	gap: 3.2rem;
	background-color: var(--white);
	border-radius: 3.2rem;
	box-shadow: 7px 7px 42px -5px var(--grey-shadow);
	overflow: hidden;
}

.response__message--void {
	text-align: center;
	display: grid;
	align-content: center;
	width: 100%;
}
	
.response__image {	
	display: none;
}

@media (min-width: 900px) {
	.response__image {
		display: block;
		width: 70%;
		margin: 0 auto 3.2rem auto;
	}
}

.response__title {
	font-size: 2.4rem;
	color: var(--grey-dark);
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 1.6rem;
}

.response__paragraph {
	margin: 0;
	color: var(--grey);
}

.response__message--full {
	display: none;
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;
	width: 100%;
}

.response__text {
	font-size: 2.4rem;
	color: var(--grey);
	overflow-wrap: break-word;
	margin: 0;
	width: 100%;
	overflow: scroll;
	flex-grow: 1;
}

#copy {
	flex-basis: 0;
	flex-grow: 0;
}
